## Ajustes Gerais

- Colunas 'bot' alteradas para 'opponent'
- Colunas 'player' alteradas para 'self'
- Colunas 'play' alteradas para 'round' e valores agora começam do index 0 (ao invés de `_play_1`, por exemplo, é `_round_0`)

In [124]:
import pandas as pd
import numpy as np

df = pd.read_csv("cases_old.csv")

ValueError: Integer column has NA values in column 16

## Ajuste nas jogadas do oponente

- Ao invés de exibir o valor da carta jogada, exibe o ID do ranking da mesma. Sendo:
-- Low card -> 9
-- Medium card -> 10
-- High card -> 11

In [ ]:
df.loc[df['opponent_round_0'] == df['opponent_low_card'], 'opponent_round_0'] = 9
df.loc[df['opponent_round_1'] == df['opponent_low_card'], 'opponent_round_1'] = 9
df.loc[df['opponent_round_2'] == df['opponent_low_card'], 'opponent_round_2'] = 9


df.loc[df['opponent_round_1'] == df['opponent_medium_card'], 'opponent_round_1'] = 10
df.loc[df['opponent_round_2'] == df['opponent_medium_card'], 'opponent_round_2'] = 10
df.loc[df['opponent_round_0'] == df['opponent_medium_card'], 'opponent_round_0'] = 10

df.loc[df['opponent_round_1'] == df['opponent_high_card'], 'opponent_round_1'] = 11
df.loc[df['opponent_round_2'] == df['opponent_high_card'], 'opponent_round_2'] = 11
df.loc[df['opponent_round_0'] == df['opponent_high_card'], 'opponent_round_0'] = 11

df[['opponent_round_1', 'opponent_round_2', 'opponent_round_0']]

      opponent_round_1  opponent_round_2  opponent_round_0
0                  9.0               -15                11
1                  9.0               -46                10
2                 10.0               -15                 9
3                  9.0               -15                11
4                  9.0               -46                10
...                ...               ...               ...
3007               9.0               -10                10
3008             -46.0               -46                10
3009              10.0               -10                 9
3010             -46.0               -46                10
3011              10.0               -10                 9

[3012 rows x 3 columns]

## Ajuste nas jogadas do jogador principal

- Ao invés de exibir o valor da carta jogada, exibe o ID do ranking da mesma. Sendo:
-- Low card -> 9
-- Medium card -> 10
-- High card -> 11

In [ ]:
df.loc[df['self_round_1'] == df['self_low_card'], 'self_round_1'] = 9
df.loc[df['self_round_2'] == df['self_low_card'], 'self_round_2'] = 9
df.loc[df['self_round_0'] == df['self_low_card'], 'self_round_0'] = 9


df.loc[df['self_round_1'] == df['self_medium_card'], 'self_round_1'] = 10
df.loc[df['self_round_2'] == df['self_medium_card'], 'self_round_2'] = 10
df.loc[df['self_round_0'] == df['self_medium_card'], 'self_round_0'] = 10

df.loc[df['self_round_1'] == df['self_high_card'], 'self_round_1'] = 11
df.loc[df['self_round_2'] == df['self_high_card'], 'self_round_2'] = 11
df.loc[df['self_round_0'] == df['self_high_card'], 'self_round_0'] = 11

df[['self_round_1', 'self_round_2', 'self_round_0']]

      self_round_1  self_round_2  self_round_0
0              9.0           1.0             9
1             11.0          10.0             9
2             10.0           9.0             9
3             10.0           1.0             9
4             10.0          11.0             9
...            ...           ...           ...
3007          10.0          11.0             9
3008          10.0           NaN             9
3009          10.0          11.0             9
3010           9.0           9.0            11
3011          10.0          11.0             9

[3012 rows x 3 columns]

## Altera o valor `-46` e `-1` por `fold` 

Segundo o mapeamento fornecido, o valor `-46` representa que o adversário foi ao baralho e
`-1` que uma carta foi virada.
Neste caso, não será necessário utilizar estas informações.

In [ ]:
df.loc[df['opponent_round_1'].isin([-46, -1]), 'opponent_round_1'] = 8
df.loc[df['opponent_round_2'].isin([-46, -1]), 'opponent_round_2'] = 8
df.loc[df['opponent_round_0'].isin([-46, -1]), 'opponent_round_0'] = 8

df.loc[df['self_round_1'].isin([-46, -1]), 'self_round_1'] = 8
df.loc[df['self_round_2'].isin([-46, -1]), 'self_round_2'] = 8
df.loc[df['self_round_0'].isin([-46, -1]), 'self_round_0'] = 8

df[['self_round_1', 'self_round_2', 'self_round_0', 'opponent_round_1', 'opponent_round_2', 'opponent_round_0']]

,self_round_1,self_round_2,self_round_0,opponent_round_1,opponent_round_2,opponent_round_0
0,9.0,1.0,9,9.0,-15,11
1,11.0,10.0,9,9.0,8,10
2,10.0,9.0,9,10.0,-15,9
3,10.0,1.0,9,9.0,-15,11
4,10.0,11.0,9,9.0,8,10
...,...,...,...,...,...,...
3007,10.0,11.0,9,9.0,-10,10
3008,10.0,NaN,9,8.0,8,10
3009,10.0,11.0,9,10.0,-10,9
3010,9.0,9.0,11,8.0,8,10
3011,10.0,11.0,9,10.0,-10,9

In [ ]:
df.loc[df['opponent_round_1'].isin([-15]), 'opponent_round_1'] = 8
df.loc[df['opponent_round_2'].isin([-15]), 'opponent_round_2'] = 8
df.loc[df['opponent_round_0'].isin([-15]), 'opponent_round_0'] = 8

df.loc[df['self_round_1'].isin([-15]), 'self_round_1'] = 8
df.loc[df['self_round_2'].isin([-15]), 'self_round_2'] = 8
df.loc[df['self_round_0'].isin([-15]), 'self_round_0'] = 8

df[['self_round_1', 'self_round_2', 'self_round_0', 'opponent_round_1', 'opponent_round_2', 'opponent_round_0']]

,self_round_1,self_round_2,self_round_0,opponent_round_1,opponent_round_2,opponent_round_0
0,9.0,1.0,9,9.0,8,11
1,11.0,10.0,9,9.0,8,10
2,10.0,9.0,9,10.0,8,9
3,10.0,1.0,9,9.0,8,11
4,10.0,11.0,9,9.0,8,10
...,...,...,...,...,...,...
3007,10.0,11.0,9,9.0,-10,10
3008,10.0,NaN,9,8.0,8,10
3009,10.0,11.0,9,10.0,-10,9
3010,9.0,9.0,11,8.0,8,10
3011,10.0,11.0,9,10.0,-10,9

## Substiui `-10` por `fold`

Segundo o mapeamento, o valor `-10` representa a ida ao baralho pelo agente.
Neste caso substituímos para que fique uma melhor visualização.

In [ ]:
df.loc[df['opponent_round_1'].isin([-10]), 'opponent_round_1'] = 8
df.loc[df['opponent_round_2'].isin([-10]), 'opponent_round_2'] = 8
df.loc[df['opponent_round_0'].isin([-10]), 'opponent_round_0'] = 8

df.loc[df['self_round_1'].isin([-10]), 'self_round_1'] = 8
df.loc[df['self_round_2'].isin([-10]), 'self_round_2'] = 8
df.loc[df['self_round_0'].isin([-10]), 'self_round_0'] = 8

df[['self_round_1', 'self_round_2', 'self_round_0', 'opponent_round_1', 'opponent_round_2', 'opponent_round_0']]

,self_round_1,self_round_2,self_round_0,opponent_round_1,opponent_round_2,opponent_round_0
0,9.0,1.0,9,9.0,8,11
1,11.0,10.0,9,9.0,8,10
2,10.0,9.0,9,10.0,8,9
3,10.0,1.0,9,9.0,8,11
4,10.0,11.0,9,9.0,8,10
...,...,...,...,...,...,...
3007,10.0,11.0,9,9.0,8,10
3008,10.0,NaN,9,8.0,8,10
3009,10.0,11.0,9,10.0,8,9
3010,9.0,9.0,11,8.0,8,10
3011,10.0,11.0,9,10.0,8,9

In [ ]:
df = df.apply(pd.to_numeric)
df.to_csv("cases.csv")